#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(135deg, #284579, #4bc3ad);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Mulish";
  font-size: 1.25rem;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  box-shadow: 3px 14px 74px 31px rgba(0, 0, 0, 0.1);
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.name {
  color: #fffffe;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.social-icons a {
  color: #fffffe;
  text-decoration: none;
}

.link {
  background: rgba(248, 231, 28, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 2rem;
  box-shadow: 3px 14px 74px 31px rgba(0, 0, 0, 0.1);
}

.link a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}
